
.noto-serif-normal{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

    max-width: 1140px;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    
    
}

.logo{
    width: 5rem;
    cursor: pointer;
}
  
.nav{
    display: flex;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
    

}

.nav-link:hover{
    background-color: rgb(13, 13, 13);
    color: rgb(252, 250, 250);
    border-radius: 13px;
    padding: 15px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: black;

}
span{
    color: #8987A1;
}
p{
    color: #8987A1;
    font-size: auto;
}
.flower-container{
    display: flex;
    margin-top: 10rem;

}

.flower-text{
    width: 60%;
    margin-top: 4.7rem;
}
.flower-text h1{
    font-size: 3rem;
}
.hero-flower img{
    width: 40rem;
    
}

/* card section  */

.head{
    text-align: center;
}
.head h1 {
    font-size: 3rem;
    margin-bottom: -15px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,2fr);
}

.card-container,h1,h2{
    text-align: center;
}

.add{
    background-color: #E95A08;
    padding: 10px;
    color: white;
    width: 95%;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;

}

.lover{
    display: flex;
    margin-top: 120px;
}

.trust{
    width: 200px;
    margin-left: -130px;
    margin-top: -20px;
    
    
}

.flower-store{
   margin-top: 60px;
     max-width: 100%;
}

.plant-lover{
    max-width: 50%;
    font-size: 1.4rem;
    margin-left: 30px;
    margin-top: 65px;
    
}

.plants{
    font-size: 50px;
}

.plant-lover h1{
    margin-right: 300px;
    
}

.plant-lover ul li{
    color: #8987A1;
    font-size: 20px;
}

.latest{
    text-align: center;
    margin-top: 60px;
}


.bloom{
    margin-top: 60px;
}
.bloom-text{
    position: absolute;
    margin-top: 100px;
    color: aliceblue;
    text-align: center;
    margin-left: 80px;
    z-index: 1;
}

.all-pic{
    margin-top: 80px;
}
.bloom-pic{
    filter: brightness(60%);
    border-radius: 15px;
    margin-top: 10px;
    
}
.multi-pic{
    display: flex;
}

.full-pic{
    margin-top: 80px;
    margin-left: 10px;
    
}
.full-photo{
    margin-top: 80px;
    margin-left: 60px;
    font-size: 50px;
    margin-top: 35px;
}



* {
  box-sizing: border-box;
}

.subscribe input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.subscribe button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #E95A08;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.subscribe button:hover {
  background: #0b7dda;
}


.bunch{
    position: absolute;
    margin-left: 20rem;
    font-size: 3rem;
    margin-top: 10rem;
    color: white;
}
.subscribe{
    position: absolute;
    width: 50%;
    margin-left: 13rem;
    margin-top: 16rem;
}

.background img{
    width: 133%;
    margin-left: -11.9rem;
}

.footer-logo{
    width: 40%;
    font-size: 20px;
}
.foot ul li{
    list-style: none;
    padding: 20px;
    cursor: pointer;
    color: #8987A1;
    font-size: 15px;
    
    
}
.foot{
    width: 20%;
}

.icon{
    margin-left: 40px;
    width: 30%;

}

.icon img{
    padding: 15px;
}

.footer-last{
    display: flex;
}








/* media section  */



@media screen and (max-width:576px){
    .nav-link{
        display: none;
        
    }
    .nav-item{
        margin-left: 25px;
        display: flex;
    }
    .container{
        /* margin-left: 45px; */
        width: 90%;
    }
    .hero-flower img{
    max-width: 25.5rem;   
}


.noto-serif-normal{
    margin-left: 38px;
    max-width: 393x;
}

.flower-text{
    font-size: px;
    margin-top: -25px;
    width: 98%;
    text-align: justify;
    margin-left: 20px;
}
 .flower-text h1{
    font-size: 2rem;
    margin-top: 50px;
}
    
    .flower-container{
        width: 393px;
        margin-top: -20px;
        flex-direction: column-reverse;
        
    }  
   
    .flower-text{
        justify-content: center;
        
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,4fr);
    }

    .head,our,plants{
        margin-left: 20px;
    }

.card{
    max-width: 12rem;
    margin-left: 10px;
}

.card img{
    max-width: 12rem;
}

.trust{
    display: none;
}
.lover{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

.flower-store{
    max-width: 85%;
    margin-top: -100px;
    margin-left: 23px;
}

.plant-lover{
    max-width: 100%;
 
}


.plant-lover ul li{
    color: #8987A1;
    width: 90%;
}


.flowers-title{
    width: 90%;
    margin: 0 auto;
}

.multi-pic{
    display: grid;
    grid-template-rows: 1fr;
    /* margin-left: 30px; */
    width: 470px;
    margin-left: -25px;
}
.bloom-pic{
    width: 100%;
    border-radius: 10px;
}

.test{
    border-radius: 0px;
}

.bloom-text{
    margin-top: 120px;
    margin-left: 100px;
    font-size: 25px;
    
}


.full-pic{
    width: 100%;
    margin-left: -2px;
    margin-top: 20px;
}

.full-photo{
    font-size: 23px;
    margin-top: -10px;
    margin-left: -10px;
    font-weight: bolder;
}



.background{
    width: 30rem;
}
.bunch{
    font-size: 30px;
    margin-top: 48px;
    margin-left: 0px;
    width: 390px;

}
.subscribe{
    /* width: 200px; */
    margin-left: 4rem;
    margin-top: 7rem;
    width: 50%;
}
.subscribe button{
    
}
.footer-last{
  display: grid;
  grid-template-columns: 1fr;
  width: 0rem;
    
}

.foot ul li{
    width: 160px;
}

.icon{
    display: flex;
}

}
