.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    max-width: 1140px;
    margin: 0 auto;
}


.container{
    display: flex;
    justify-content: space-between;
    
    
}

.logo{
    width: 5rem;
}

.nav{
    display: flex;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
    

}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: black;

}
span{
    color: #8987A1;
}
p{
    color: #8987A1;
}
.flower-container{
    display: flex;
    margin-top: 10rem;

}

.flower-text{
    width: 50%;
    margin-top: 8rem;
}
.flower-text h1{
    /* font-weight: bold; */
    font-size: 3rem;
}
.hero-flower img{
    width: 40rem;
    
}


@media screen and (max-width:576px){
    .nav-link{
        display: none;
        
        
    }
    .hero-flower img{
    max-width: 25.5rem;
    
    
}


.flower-text{
    font-size: 40pxx;
    margin-top: -25px;
    width: 100%;
    margin-left: 20px;
}
    
    .flower-container{
        width: 393px;
        margin-top: -20px;
        flex-direction: column-reverse;
        
    }  
   
    .flower-text{
        justify-content: center;
        
    }
}
